
@media only screen and (max-width : 1200px) {

	.wrapper {
		width: 100%;
		padding: 14px 15px;
	}

	img {
		max-width: 100%;
	}
}

@media only screen and (max-width : 992px) {

	.header .menu ul li {
		margin-right: 25px;
	}

	.info-1__subtitle, .info-2__subtitle {
		font-size: 34px;
		margin-top: 10px;
	}

	.info-3__subtitle {
		margin-top:0;
		font-size: 34px;
	}

	.item:nth-child(1) {
		margin-bottom: 0;
	}
	.item__btn {
		margin-bottom: 20px;
	}

	.flexbox {
		flex-wrap: wrap;
		justify-content: center;
	}

	.info {
		order: 2;
		margin-top: -100px;
		width: 100%;
		align-items: center;
	}

	.picture {
		display:flex;
		justify-content: center;
		width: 50%;
		padding-bottom: 50px;
	}

	.info__title {
		font-size: 34px;
		line-height: 44px;
		animation:none;
		opacity: 1;
		transform: none;
	}

	.info__text {
		opacity: 1;
		animation:none;
		transform: none;
	}

	.info__btn {
		opacity: 1;
		animation:none;
		transform: none;
		margin-top:-50px;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.link-wpar {
		right: 5px;
	}

	.send__submit {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width : 768px) {

	.icons {
		align-items: center;
		position: absolute;
		left:55%;
	}

	.link__img {
		width: 60%;
	}

	.info__title, .info-1__subtitle, .info-2__subtitle, .info-3__subtitle {
		font-size: 24px ;
	}

	.info {
		padding-top: 50px;
	}

	.info-1__subtitle {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.info-1__text {
		padding-bottom:20px;
	}

	.info__btn {
		width: 100%;
	}

	.info-2__subtitle {
		line-height: 32px;
		margin-bottom: 10px;
	}

	.info-3__subtitle {
		margin-top: 0;
		margin-bottom: 0;
	}

	.info-3__text {
		padding-bottom: 20px;
	}

	.input {
		margin-right: 0;
	}

	.item {
		display: flex;
		width: calc(50% - 10px);
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.item__bottom-text {
		font-size: 15px;
	}

	.grid {
		margin-top: 30px;
	}

	.menu {
        display: none;
	}

	.header .menu ul {
		display: flex;
		flex-direction: column;
	}

	.header .menu ul li {
		display: flex;
		padding-left: 20px;
	}

	.header .menu a {
		color: white;
		font-size: 40px;
		margin-bottom: 50px;
	}

	.hamburger{
        position: absolute;
        width: 35px;
        height: 35px;
        right: 20px;
        display: inline-block;
        z-index: 6;
    }
    .hamburger__line, .hamburger::before, .hamburger::after  {
        content: '';
        position: absolute;
        display: inline-block;
        height: 4px;
        width: 35px;
        left: 0;
        top: 15px;
        border-radius: 5px;
		background: black;

    }
    .hamburger::before{
        top: 2px;
    }
    .hamburger::after{
        top: 28px;
    }
    .hamburger__rotate--active{
        transform: rotate(90deg);
        transition: all 0.5s
    }

    .hamburger--active {
        position: fixed;
        left: 0;
        top: 0;
        display: block;
        width: 50%;
        height: 100vh;
        background: #2D303A;
		padding-top: 30%;
		transition: all .6s ease-in;
	}
}

@media only screen and (max-width : 480px) {

	.logo__title {
		font-size: 32px;
	}

	.header .menu a {
		font-size: 22px;
	}

	.info-1__subtitle {
		margin-top: 0;
		line-height: 30px;
	}

	.info-2__subtitle {
		margin-top: 0;
		line-height: 30px;
	}

	.info-3__subtitle {
		line-height: 30px;
		margin-bottom: 10px;
	}

	.info-2__text {
		padding-bottom: 20px;
	}

	.info-3__text {
		padding-bottom: 20px;
	}

	.item {
		width: calc(67% - 10px);
	}

	.input__name, .input__phone, .input__email {
		width: calc(100% - 10px);
	}

	.infooo, .textarea {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% - 10px);
		justify-content: center;
	}

	.link__text-1, .link__text {
		font-size: 15px;
	}

	.link__img-1 {
		padding-left: 10px;
	}

	.link__btn {
		width: 100px;
		height: 50px;
		font-size: 15px;
	}

	.link-wrap {
		bottom: 15px;
	}

	.send__submit {
		width: 100%;
	}
}
